img {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  /* border-radius: 20px; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

div.gallery {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  border-radius: 20px;
}

/* div.gallery:hover {
  border: 1px solid #777;
} */

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

/* @media only screen and (max-width: 500px) {
  .responsive {
    width: 70%;
    justify-content: center;
  }
} */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}