@import url('https://fonts.googleapis.com/css?family=roboto');

header {
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none; 
}

.sidebar {
    position: fixed;
    left: -100%;
    width: 17vw;
    min-height: 100vh;
    background: #042331;
    transition: all .4s;
}

.sidebar header {
    font-size: 3vh;
    color: white;
    text-align: center;
    line-height: 8.5vh;
    background: #063146;
    user-select: none;
}

.sidebar ul a.navButtons {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 8vh;
    font-size: 1.5vh;
    color: white;
    padding-left: 3vw;
    box-sizing: border-box;
    border-top: 0.65vh solid rgba(255, 255, 255, 0.1);
    border-bottom: 0.15vh solid black;
    transition: .6s ease;

}

ul li:hover a.navButtons {
    padding-left: 1vw;
    background-color: rgba(255, 255, 255, 0.05);
}

.sidebar ul a.navButtons i {
    margin-right: 1.7vh;

}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 25%;
}
label #btn {
    left: 1vw;
    top: 1vw;
    font-size: 2vw;
    color: white;
    padding: 0.5vw 1.3vh;
    transition: all .5s ease;
}
label #cancel {
    z-index: 100;
    left: -100%;
    top: 2vh;
    font-size: 3.5vh;
    color: #0a5275;
    padding: 0.2vw 1vh;
    transition: .5s ease;
}
#check:checked ~ .sidebar {
    left: 0;
    
}

#check:checked ~ label #btn {
    left: -100%;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 13.7%;
}

h5 {
    color: white;
    margin-top: 10%;
    text-align: center;
    margin-right: 3%;
    font-size: 200%;
}

.fab {
    font-size: 7vh;
    position: relative;
}

a.contactButton {
    position: relative;
    margin-left: 3%;
}

a.contactButton:hover {
    opacity: 50%;
    transform: scale(1.1);
}

#ContactNav {
    background: #042331;
    width: 96%;
    margin-top: 3%;
    border-radius: 1%;
    border: 0.5vh solid rgba(255, 255, 255, 0.1);
}

.contactRow2 {
    margin-left: 18%;
    margin-bottom: 0;
}

.fa-facebook-square {
    color: #3b5998;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
    background-size: 65%;
    background-position: 73% 0;
    background-repeat: no-repeat;
    
}
.fa-instagram-square {
    color: #FCAF45;
    background-image: linear-gradient( to bottom, transparent 18%, white 15%, white 93%, transparent 93% );
    background-size: 83%;
    background-position: 80% -1;
    background-repeat: no-repeat;

}

.fa-linkedin {
    color: #0077b5;
    background-image: linear-gradient( to bottom, transparent 15%, white 15%, white 93%, transparent 93% );
    background-size: 80%;
    background-position: 70% -2;
    background-repeat: no-repeat;
    
}

.fa-github-square {
    color: #4078c0;
    background-image: linear-gradient( to bottom, transparent 15%, white 15%, white 93%, transparent 93% );
    background-size: 82%;
    background-position: 74% -1;
    background-repeat: no-repeat;
}

    .fa-square-envelope {
        color: #042331;
        background-image: linear-gradient( to bottom, transparent 15%, white 15%, white 93%, transparent 93% );
        background-size: 80%;
        background-position: 70% -2;
        background-repeat: no-repeat;
    }

